@font-face {
    font-family: fontyy;
    src: url(./fontyy.ttf);
}

body{
    background-color: rgb(63, 123, 206);
}

.container { 
     width: max-content;
     height: 500px;
}

.text1{
    height: 30px;
    text-align: center;
    font-family: fontyy;
    font-size: 80px;
    color: bisque;
}
.text2{
    height: 50px;
    text-align:end ;
    margin-right: 300px;
    color: azure;
    font-family: fontyy;
    font-size: 43px;
}.text3{
    height: 50px;
    text-align:end ;
    margin-right: 300px;
    color: azure;
    font-family: fontyy;
    font-size: 33px;
}